html {
  scroll-behavior: smooth;
  background-color: black;
}

.footer {
  background-color: white;
  color: black;
  width: 100%;
  height: 100px;
  transition: all .4s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer:hover {
  background-color: black;
}

.footer:hover h2 {
  color: white;
}

.footer h2 {
  color: black;
  font-size: 30px;
  font-family: Rotunda;
  transition: all .4s;
  text-align: center;
}

h2 {
  font-family: Above;
  font-size: 40px;
  color: white;
  text-align: center;
}

button {
  padding: 2px 50px;
  text-align: center;
  font-family: Calibri;
  text-decoration: none;
  font-size: 20px;
  margin: 1px 1px;
  transition-duration: 0.7s;
  cursor: pointer;
}

/*Loading Page*/
#loading {
  position: fixed;
  width: 100%;
  height: 100%;
  background: black url('Extras/Preloader.gif') no-repeat center;
  background-size: 50%;
  z-index: 99999;
}

/*Fonts*/

@font-face {
  font-family: 'SpaceGrotesk';
  src: url(Fonts/SpaceGrotesk.ttf); 
}

@font-face {
  font-family: 'Above';
  src: url(Fonts/Above.ttf); 
}

@font-face {
  font-family: 'Rotunda';
  src: url(Fonts/Rotunda.otf);
}

@font-face {
  font-family: 'RotundaBold';
  src: url(Fonts/RotundaBold.otf);
}

/*Navigation Bar*/

nav {
  height: 25px;
  width: 100%;
  z-index: 10000;
  position: sticky;
  top: 0;
}

nav ul {
  float: right;
  margin-right: 20px;
  text-align: center;
}

nav ul li {
  display: inline-block;
  line-height: 20px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-family: SpaceGrotesk;
  font-size: 30px;
  padding: 5px 5px;
  border-radius: 5px;
  text-transform: uppercase;
  list-style: none;
  text-decoration: none;
}

a:hover {
  color: cyan;
  transition: .5s;
  cursor: pointer;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 20px;
  margin-right: 25px;
  margin: 10px 0;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

/*Audio Styling*/

#pause {
  margin: 10px 0;
  margin-left: -40px;
  display: none;
  line-height: 20px;
  color: white;
  background-color: #00000000;
  border: 1px solid #00000000;
  font-size: 30px;
}

#play {
  margin: 10px 0;
  margin-left: -40px;
  display: inline-block;
  line-height: 20px;
  color: white;
  background-color: #00000000;
  border: 1px solid #00000000;
  font-size: 30px;
}

/*Head Page (Home)*/

.head h1 {
  display: flex;
  text-align: center;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#mobile {
  display: none;
}

h1 {
  font-family: helvetica;
  font-size: 45px;
  text-align: center;
  background: linear-gradient(to right, #FF3131, #FF5F1F, #FFFF00, #39FF14, #1F51FF, #7B00FF, #9D00FF);
  background-size: 200% auto;	
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 10s linear infinite;
}

@keyframes shine {
  to {
     background-position: 200% center;
  }
}

.head button {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
} 

.head button {
  padding: 10px 55px;
  color: black;
  background-color: white; 
  border: 5px solid white;
  border-radius: 5px;
  box-shadow: 0 0 30px white;
}

.head button:hover {
  color: white;
  box-shadow: 0 0 60px white;
  text-shadow: 0 0 100px white;
  background-color: black; 
}


/*Social Handle Styling*/

.socials { 
  height: 200px;
  display: block;   
}

.social i.fa-brands {
  color: white;
  margin: 0 20px;
  padding: 10px; 
  border-radius: 5px;
  transition: all 0.5s linear;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.social ul {
  display: block;
  text-align: center;
}

.social ul li {
  display: inline-block;
  margin: 0 20px;
  margin-top: 30px;
}

.social i.fa-instagram {
  background-image: linear-gradient(#8a3ab9,#e95950,#bc2a8d,#fccc63,#fbad50,#cd486b,#4c68d7);
}

.social i.fa-discord {
  background-color: #5865f2;
}

.social i.fa-github {
  background-color: #fff;
}

.social i.fa-brands:hover  {
  transform: scale(1.5);
}

/*.social i.fa-solid {
  background-color: white;
  transition: all 0.5s linear;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}*/

/*About Page*/

.about h2 {
  display: none;
}

.vr-t h2 { 
  display: flex;
  justify-content: center;
  align-items: center; 
  position: absolute;
  left: 45%;
  top: 175%;
  writing-mode: vertical-lr;
  text-orientation: upright;
}

.about p1 {
  display: block; 
  position: relative;
  top: 25%;
  color: white;
  font-family: Calibri;
  font-size: 20px;
}

.about {
  height: 450px;
  text-align: left; 
}

img {
  display: block;
  position: relative; 
  top: -40%;
  left: 65%;
  width: 25%;	
}

.about p1 {
  width: 40%;
  font-size: 35px;
}

/*Projects Section*/

.projects {
  height: 650px;
  text-align: center;
}

.sec1, .sec2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 20px auto;
}

.box {
  text-align: center;
  color: white;
  background-color: black;
  border: 2px solid grey;
  border-radius: 5px;
  max-width: 20%;
  max-height: 50%;
  transition: all 0.3s linear;
}

.box:hover {
  transform: scale(1.1);
  border: 2px solid blue;
}

.box-content {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  min-height: 100%;
}

.box-content p {
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  color: white;
}

.box:hover p {
  opacity: 1;
  visibility: visible;
}

.box button { 
  cursor: pointer;
  transition: 0.5s all;
  margin-left: 25%;
  width: 50%;
  cursor: pointer;
  padding: 15px 30px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: black;
  border: 1px solid white;   
  border-radius: 5px;
  background-color: white;
}

.box button:hover {
  background-color: black;
  color: white;
}

/* Other Devices */

@media all and (max-width: 700px) {
  
  #pc {
    display: none;
  }

  #mobile {
    display: block;
  }

  .head {
    height: 300px;
  }

  .socials {
    height: 300px;
  }

  .social ul {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 90%;
  }

  .social ul li {
    margin-right: 25px;
  }

  nav .nav li a {
    font-size: 40px;
  }

  .checkbtn {
    display: inline-block;
  }

  .nav {
    position: fixed;
    width: 90%;
    max-height: 50%;
    background-color: black;
    text-align: center;
    top: 80px;
    left: -105%;
    transition: all .5s;
    z-index: 5;
  }

  nav .nav li {
    display: block;
    margin: 50px 0;
    margin-right: 20px;
  }

  nav .nav li a {
    font-size: 20px;
    text-align: center; 
  }

  a:hover {
    background: none;
    color: cyan;
  }

  #check:checked ~ ul {
    left: 0;
  } 

  .sec1, .sec2 {
    flex-direction: column;
  }

  .box {
    display: block;
    margin: 20px auto;
    max-width: 50%;
    max-height: 50%;
  } 
  
}

@media all and ( max-width: 950px) {

 .head button {
    display: flex;
    justify-content: center;
    align-items: center; 
    position: absolute;
    text-align: center;
    top: 35%;
  }

  .box button {
    display: flex;
    align-self: center;
    justify-content: center;
    margin-right: 40px;
  }

 img {
  width: 0%;
} 

.about p1 {
  width: 100%;
}

}

@media all and ( max-width: 1025px) {

  .about {
    height: 500px;
  }
  
  .about p1 {
    top: 10%;
}
  .box button {
    padding: 10px 50px;
}

  .projects {
    height: 100%;
  }

}

@media all and (max-width: 280px) {
  
  .box {
    max-width: 70%;
  }

  .about {
    height: 650px;
  }
}

@media all and ( max-width: 1300px) {

  .about h2 {
    display: block; 
  }

  .vr-t{
    display:none;
  }
}
